.contact-container
  border 1px solid blue_secondary
  border-radius 2px
  display flex
  max-width 1440px
  margin 0 auto
  flex-direction column
  @media all and (min-width: contact_column_layout)
    flex-direction row
    height calc(100vh -43px)
    align-content space-around

// .mp
//   margin 0 auto
@media all and (min-width: contact_column_layout)
  .mp
    width 50%
.map
  width 100%
  height 500px
  @media all and (min-width: contact_column_layout)
    height 100%

a[href="#map"], a[href="#ci"]
  margin 0 auto
  text-decoration none
  font-weight 500
  padding 1em
  color blue_secondary
  margin-top 0.5em
  @media all and (min-width: contact_column_layout)
    display none
    opacity 0
    width 0
    visibility hidden
.ci
  flex-direction column
  background blue_secondary
  padding 1em
  display flex
  @media all and (min-width: contact_column_layout)
    flex-direction row
    width 50%

.ci-details
  color white
  margin-bottom 1em
  @media all and (min-width: contact_column_layout)
    width 20em
    display flex
    justify-content center
    flex-direction column

.ci-details__copy
  font-size 1.2em
  font-weight 400
  text-align center
  margin-bottom 0.6em

.ci-details__address
  font-size 1em
  line-height 1.5em 
  margin-bottom 0.3em

.ci-details__phones
  display flex
  justify-content space-around
  margin-bottom 0.8em
  a
    color #fff

.ci-details__mailLink
  display block
  color #fff
  text-align center

.cf
  display flex
  flex-direction column
  justify-content center
  @media all and (min-width: contact_column_layout)
    flex-grow 1
    padding 5em 2em
    border-left 1px solid white
  label
    margin-bottom 0.5em
    font-weight 400
    color white
    margin-left 1em
  input[type='submit']
    border 0px
    width 5em
    margin-left auto
    padding 0.3em
    background white
    font-size 1em
    color blue_secondary
  textarea
    margin-bottom 1em
    font-size 1em
    height 3em

.cf-textbox
  box-sizing border-box
  margin-top 0.2em
  margin-bottom 1.3em
  padding 0.3em 0.5em
  font-size 1em
