.nv
  display flex
  justify-content space-between
  border-bottom 1px solid blue_secondary
  @media all and (min-width: 500px)
    justify-content flex-start
  @supports (backdrop-filter: blur(3px))
    // box-shadow 0 0 4px 1px rgb(22, 79, 139)
    box-shadow 0 0 4px 1px blue_secondary
    backdrop-filter grayscale(20%) blur(3px)
    background rgba(255,255,255,0.4)
    position sticky
    top 0
    z-index 1

.nv-item
  font-weight 600
  color #333
  text-decoration none
  padding 1em 0.5em
  opacity 0
  animation fade-in-top ease 0.4s forwards
  @media all and (min-width: 500px)
    padding 1em

