{{ define "main" }}
    <div class="sv-header">
        <img class="sv-headerLogo" src="/img/logo-mono-blue.png" alt="All Franks Ny Technician Inc. logo">
        <h1 class="sv-headerTitle">Services</h1>
    </div>
    <section class="sv-service sv-blueBorder">
        <div class="sv-serviceContent">
            <div class="sv-serviceCopy">
                <h1>Heating &amp; Furnace Systems</h1>
                <p>We cover the whole range of services required to perform preventive maintenance, repairs and heating installations</p>
                <ul>
                    <li>Ducts &amp; Vents Install</li>
                    <li>Electric Furnace - Repair</li>
                    <li>Electric Furnace - Install</li>
                    <li>Gas Furnace - Install</li>
                    <li>Gas Furnace - Repair</li>
                    <li>Gas Boiler or Radiator Heat Install</li>
                    <li>Heat Pump Install</li>
                    <li>Heat Pump Repair</li>
                    <li>Oil Furnace - Repair</li>
                    <li>Oil Furnace - Install</li>
                    <li>Radiant Floor Heat Install</li>
                    <li>Radiant Floor Heat Repair</li>
                    <li>Radiant Panel Heat Repair</li>
                    <li>Thermostat Install</li>
                    <li>Thermostat Repair</li>
                </ul>
            </div>
            <div class="sv-serviceImage">
                <img src="/img/winter-home.jpg" alt="comfortable home">
            </div>
        </div>
    </section>
    <section class="sv-service sv-redBorder">
        <div class="sv-serviceContent">
            <div class="sv-serviceImage">
                <img src="/img/local-plumber.jpg" alt="comfortable home">
            </div>
            <div class="sv-serviceCopy">
                <h1>Plumbing</h1>
                <p>Our plumbing services will address all you necessities:</p>
                <ul>
                    <li>Bathtub Install or Replace</li>
                    <li>Clear Drain Clog or Blockage</li>
                    <li>Faucets, Fixtures and Pipe Repair</li>
                    <li>Gas Piping</li>
                    <li>Shower Install or Replace</li>
                    <li>Sump Pump or Foundation Drain Install</li>
                    <li>Sump Pump Repair</li>
                    <li>Tankless Water Heater Install</li>
                    <li>Tankless Water Heater Repair</li>
                    <li>Water Heater Install</li>
                    <li>Water Heater Repair</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="sv-schedule">
        <h1>Hours of service</h1>
        <p>24 Hours a day</p>
        <p>7 Days a week</p>
        <p>We are always ready in case of emergency</p>
    </section>
{{ end }}
