@import 'partials/reset'
@import 'partials/base-text'


// Color definitions

green_primary = #a3c81c
green_secondary = #668200
blue_primary = #186184
blue_secondary = #0c4c6c
purple_primary = #631a8b
purple_secondary = #3c045b
red_primary = #D40221
red_secondary = #A4021E

/*-------------------------
 Home page styles:
 - Left navigation bar
 - Central fixed section
 - Right column news feed
--------------------------*/

// partials importing

// @import 'partials/navbar'
// @import 'partials/media-queries'
// @import 'partials/article'
// @import 'partials/news'
// @import 'homepage'
// @import 'hp-navigation'
// @import 'results'
// @import 'media'
