@import 'partials/reset'
@import 'partials/base-text'


// Color definitions
blue_primary = rgb(22, 79, 139)
blue_secondary = rgb(1, 110, 220)
yellow = rgb(247, 244, 11)

// Viewport definitions
contact_desktop = 724px

.in //Intro component
  background url('/img/hero.jpg') center top
  filter grayscale(50%)
  padding 1em 0
  height 100vw
  display flex
  flex-direction column
  justify-content center
  opacity 0
  animation fade-in-bottom ease 0.4s forwards
  animation-delay 0.4s

.in-title
  font-size 2em
  margin 0 auto 0
  padding 0.5em 0.2em
  text-align center
  background rgba(255, 255, 255, 0.5)
  border 1px solid blue_primary
  width 90%
  @supports (backdrop-filter: blur(3px))
    background rgba(255, 255, 255, 0.3)
    backdrop-filter blur(2px)
  img
    object-fit contain
    width 100%

.in-moto
  padding 1em 1em
  font-size 1.1em
  font-weight 400
  background rgba(255, 255, 255, 0.7)
  max-width 80%
  width 80%
  margin 20px auto 0
  @supports (backdrop-filter: blur(3px))
    background rgba(255, 255, 255, 0.7)
    backdrop-filter blur(2px)

.cd
  width 80%
  padding 0.5em 
  margin 1em auto 1em
  border 1px solid blue_primary
  opacity 0
  animation fade-in-bottom ease 0.6s forwards
  animation-delay 0.6s
  p
    margin 0
    padding 0 0 0.4em

img[src='/img/boiler-room.jpg']
  width 100%
  opacity 0
  transform translateX(-50px)
  transform-origin left
  animation fade-in-left ease-out 0.8s forwards
  animation-delay 0.6s

@keyframes fade-in-top
  from
    opacity 0
    transform translateY(-15px)
  to
    opacity 1
    transform translateY(0)

@keyframes fade-in-bottom
  from
    opacity 0
    transform translateY(15px)
  to
    opacity 1
    transform translateY(0)

@keyframes fade-in-left
  from
    opacity 0
    transform translateX(-50px)
  to
    opacity 1
    transform translateX(0)

@import 'partials/navigation'
@import 'partials/contact'

