@import 'partials/reset'
@import 'partials/base-text'


// Color definitions
blue_primary = rgb(22, 79, 139)
blue_secondary = rgb(1, 110, 220)
red_primary = #f40000
yellow = rgb(247, 244, 11)

// Viewport definitions
contact_desktop = 724px
ipad_portrait = 767px
ipad_landscape = 1023px
ipad_pro_10 = 1111px
ipad_pro_12 = 1365px
macbook = 1439px
fullHD = 1919px

.in //Intro component
  box-sizing border-box
  background url('/img/hero-mono.png') center top
  padding 1em 0
  height 110vw
  display flex
  flex-direction column
  justify-content center
  opacity 0
  animation fade-in-bottom ease 0.4s forwards
  animation-delay 0.4s
  position relative
  @media all and (min-width: contact_desktop)
    background none
    height 50vh
    width 100vw
    margin 0 auto
    flex-direction row
    padding 0
    align-content center
    flex-basis 50vw

.in-title
  font-size 2em
  margin 0 auto 0
  padding 0.5em 0.2em
  text-align center
  background rgba(255, 255, 255, 0.5)
  // border 1px solid blue_primary
  width 90%
  @supports (backdrop-filter: blur(3px))
    background rgba(255, 255, 255, 0.2)
    backdrop-filter blur(5px)
  img
    object-fit contain
    width 100%
  @media all and (min-width: contact_desktop)
    margin 0
    background-repeat no-repeat
    background url('/img/hero-mono.png')
    background-size cover
    box-sizing border-box
    width 50%
    backdrop-filter saturate(10%)
    display flex
    justify-content center
    img
      max-width 300px

.in-moto
  padding 1em 1em
  font-size 1.1em
  font-weight 400
  background rgba(255, 255, 255, 0.7)
  max-width 80%
  width 80%
  margin 20px auto 0
  @supports (backdrop-filter: blur(3px))
    background rgba(255, 255, 255, 0.7)
    backdrop-filter blur(2px)
  @media all and (min-width: contact_desktop)
    display none
    opacity 0
    visibility hidden

.in-moto__desktop
  display none
  opacity 0
  visibility hidden
  @media all and (min-width: ipad_portrait)
    display block
    opacity 1
    visibility visible
    z-index 1
    margin 0
    width 50%
    box-sizing border-box
    background-color red_primary
    h1, p
      color white
    h1
      font-size 4em
      font-weight 700
      margin-top -15px
      margin-left -5px
      &::first-letter
        font-size 1.5em
    p
      font-size 2em
      margin-top calc(22.5vh - 6em)
      text-align right
      max-width 20em
      margin-left auto
  @media all and (min-width: ipad_landscape)
    h1
      margin-top -16px
      margin-left -5px
    p
      font-size 1.7em
      max-width 13em
      margin-top calc(22.5vh - 5.5em)
  @media all and (min-width: ipad_pro_10)
    p
      margin-top calc(22.5vh - 6.5em)
  @media all and (min-width: ipad_pro_12)
    h1
      font-size 5.0em
      margin-top -20px
      margin-left -7px
    p
      max-width 15em
  @media all and (min-width: macbook)
    p
      font-size 1.8em
      margin-top calc(22.5vh - 7em)
      max-width 15em
  @media all and (min-width: fullHD)
    h1
      font-size 6em
    p
      font-size 2em

.in-moto__callout
  @media all and (min-width: contact_desktop)
    margin-left -0.5em
    font-size 2.3em
    font-weight 600

.ir
  @media all and (min-width: ipad_portrait)
    display flex
    flex-wrap wrap

.ir-copy
  box-sizing border-box
  color white
  margin 0
  background-color blue_secondary
  padding 1em
  p
    font-size 1em
  @media all and (min-width: ipad_portrait)
    display flex
    justify-content space-between
    flex-basis 40%
    flex-grow 1
    flex-direction column
    p
      font-size 1.4em
      max-width 20em
    p:first-child
      margin-right 20%
      margin-left 5%
      margin-bottom 5%
    p:last-child
      margin-left auto
      margin-right 3%
      text-align right

.cd
  padding 1em
  margin 0
  opacity 0
  animation fade-in-bottom ease 0.6s forwards
  animation-delay 0.6s
  background red_primary
  @media all and (min-width: ipad_portrait)
    padding 1em 3em
    display flex
    flex-direction column
    justify-content center
    position relative
    &:hover .cd-contactLink
      visibility visible
      animation fade-in-bottom ease 0.4s forwards

.cd-contactLink
  color white
  font-size 2em
  opacity 0
  position absolute
  bottom 0.5em
  right 0.5em
  visibility hidden
  text-decoration none
  background transparent

.cd-address
  font-size 1em
  margin 0 0 1em
  padding 0
  line-height 1.5em
  color white
  font-weight 700
  abbr
    font-weight 700

.cd-address__firstLine
  font-size 1.7em
  font-weight 700

.cd-phones
  display block
  margin-bottom 0.8em
  color blue_secondary
  text-decoration none
  text-align center
  color white
  font-weight 700

.cd-mail
  display block
  font-size 1.1em
  color blue_secondary
  margin-bottom 0.7em
  text-align center
  color white
  font-weight 700

img[src='/img/boiler-room.jpg']
  width 100%
  opacity 0
  transform translateX(-50px)
  transform-origin left
  animation fade-in-left ease-out 0.8s forwards
  animation-delay 0.6s
  margin 0
  padding 0
  box-sizing border-box
  @media all and (min-width: ipad_portrait)
    flex-grow 1
    flex-basis 30%
    object-fit cover

@keyframes fade-in-top
  from
    opacity 0
    transform translateY(-15px)
  to
    opacity 1
    transform translateY(0)

@keyframes fade-in-bottom
  from
    opacity 0
    transform translateY(15px)
  to
    opacity 1
    transform translateY(0)

@keyframes fade-in-left
  from
    opacity 0
    transform translateX(-50px)
  to
    opacity 1
    transform translateX(0)

@import 'partials/navigation'
@import 'partials/contact'

.gl-wrapper
  width 100vw
  margin 0
  padding 0
  background linear-gradient(to bottom left, blue_secondary, blue_secondary 30.9%, red_primary 31%)
  display flex
  justify-content center
  img
    margin 1em auto
    border 10px solid white
