<footer class="ft">
        <h2 class="ft-title">All Franks NY Technician Inc.</h2>
        <p class="ft-contacts">
            <a class="ft-phone" href="tel:+17186990159">+1-718-699-0159</a> –&nbsp;
            <a class="ft-phone" href="tel:+16465231632">+1-646-523-1632</a> –&nbsp;
            <a class="ft-mail" href="mailto:allnytechnician@gmail.com">allnytechnician@gmail.com</a>
        </p>
        <p class="ft-address" translate="no">53-46 97 Street 1st. Floor Corona, <abbr title="New York">NY</abbr> 11368</p>
</footer>
