{{ define "main" }}
    <div class="in">
        <div class="in-title"><img src="/img/logo.png"></div>
        <p class="in-moto">A fully licensed and insured plumbing company servicing all your gas, water and sewer needs. We pride ourselves on providing expert advice and high quality work.</p>
    </div>
    <div class="cd">
        <p>53-46 97 Street</p>
        <p>1st. Floor</p>
        <p>Corono, NY 11368</p>
        <p>+1-718-699-0159</p>
        <p>+1-646-523-1632</p>
        <a href="mailto:allfnytechnician@gmail.com">allfnytechnician@gmail.com</a>
    </div>
{{ end }}
