{{ define "main" }}
    <div class="in">
        <div class="in-title"><img src="/img/logo.png"></div>
        <p class="in-moto">Fully licensed and insured plumbing company servicing all your gas, water and sewer needs. We pride ourselves on providing expert advice and high quality work.</p>
        <div class="in-moto__desktop">
            <h1>Fully licensed and insured plumbing company</h1>
            <p> We service all your gas, water and sewer needs.<br> We pride ourselves on providing expert advice and high quality work.
        </div>
    </div>
    <div class="ir">
        <div class="cd">
            <p class="cd-address" translate="no"><span class="cd-address__firstLine">53-46 97 Street</span><br>1st. Floor<br>Corona, <abbr title="New York">NY</abbr> 11368</p>
            <div>
                <a class="cd-phones" href="tel:+17186990159">+1-718-699-0159</a>
                <a class="cd-phones" href="tel:+16465231632">+1-646-523-1632</a>
            </div>
            <a class="cd-mail" href="mailto:allnytechnician@gmail.com">allnytechnician@gmail.com</a>
            <a class="cd-contactLink" href="/contact">➡</a>
        </div>
        <img src="/img/boiler-room.jpg">
        <div class="ir-copy">
            <p>Gas, water and sewer installations should always be performed by a professional plumber. Even a small mistake can cause major damage. Call us to inspect your home for early signs of damage, avoid costly repairs and enhance the safety of your home.
            </p>
            <p>Our friendly and professional team can show you how to upgrade your plumbing fixtures to cut costs and protect the environment at the same time. All Franks NY Technician can help make your dream bathroom a reality! Or hire us to fix clogged drains, do repairs and service your plumbing fixtures and appliances.
            </p>
        </div>
    </div>
{{ end }}
