{{ define "main" }}
    <div class="contact-container">
        <a id="ci" href="#map">Get Directions</a>
        <section class="ci">
        <div class="ci-details">
            <p class="ci-details__address" translate="no">53-46 97 Street<br>1st. Floor<br>Corona, <abbr title="New York">NY</abbr> 11368</p>
            <div class=ci-details__phones>
                <a href="tel:+17186990159">+1-718-699-0159</a>
                <a href="tel:+16465231632">+1-646-523-1632</a>
            </div>
            <a class="ci-details__mailLink" href="mailto:allnytechnician@gmail.com">allnytechnician@gmail.com</a>
        </div>
        <form class="cf" action="//formspree.io/allnytechnician@gmail.com" method="POST">
            <label for="name">Name</label>
            <input class="cf-textbox" id="name" type="text" name="name">
            <label for="_subject">Subject</label>
            <input class="cf-textbox" id="_subject" type="text" name="_subject">
            <label for="_replyto">Email</label>
            <input class="cf-textbox" id="_replyto" type="text" name="_replyto">
            <label for="message">Message</label>
            <textarea id="message" name="message"></textarea>
            <input type="submit" value="Send">
        </form>
        </section>
        <a href="#ci">Get Contact Information</a>
        <section class="mp" id="map">
            <iframe width="100%" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBmwKQmKkkSQjBssIHFaK9H3V4PibOR5BE&q=53-46+97th+St,+Corona,+NY+11368,+USA/@40.7377222,-73.866855&zoom=17"></iframe>
        </section>
    </div>
{{ end }}
